.container {
    background-color: white;
}
.container-category {
    flex: 1;
}

.container-category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container-categories-item {
    background-color: #191919;
    border: 1 px solid #DBDADF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex: 1 1 25%;
    margin: 2rem 1rem 2rem;
    max-width: 30%;
    height: 15rem;
}

.container-categories-item:hover {
    background-color: #2ecc71;
}


.container-categories-text {
    padding-top: 1rem;
    text-align: center;
    font-size: 18px;
}