.navbar-custom {
    background-color: #191919;
}
.navbar-nav {
    float: left;
}
.navbar-brand {
    color: white;
    font-size: 22px;
    transition: all 500ms;
}

.navbar-brand:hover {
    color: #2ecc71;
    transition: all 500ms;
}
.li {
    float: left;
    display: inline;
}
.navbar__link--active {
    color: #2ecc71;
}

.nav > li > a {
    font-size: 10px;
    transition: all 500ms;
}
.nav > li > a:hover {
    text-decoration: none;
    color: #2ecc71;
    transition: all 500ms;
}
